# **Exploratory data analysis (EDA)**

## 1.   Auto EDA :

*    Report generation in html format

    - pandas_profiling
    - sweetviz

In [ ]:
# pandas_profiling

import pandas_profiling as pp

In [ ]:
EDA_report= pp.ProfileReport(df, title="Pandas Profiling Report", vars={"num": {"low_categorical_threshold": 0}})
EDA_report

In [ ]:
EDA_report.to_file(output_file='report2.html')

In [ ]:
# sweetviz

import sweetviz as sv

In [ ]:
sweet_report = sv.analyze(df)

In [ ]:
sweet_report

## 2.   Describing the data :


*   Run describe()
*   Run info()

In [ ]:
dataframe_name.describe()

In [ ]:
dataframe_name.info()

## 3.   Data cleaning :

 *   **Type conversion**
    - Find odd vale
    - By using replace method.
    - By using pandas built in functions.

In [ ]:
dataframe_name.unique()

- unique funtion to print all columns unique values by giving dataframe name in parameter.

In [ ]:
def uni(df):
    
    for i in range(len(df.columns)):
        print('\n All Unique Value in '+ str(df.columns[i]) )
        print(np.sort(df[df.columns[i]].unique()))
        print('Total no of unique values ' + str(len(df[df.columns[i]].unique())))

In [ ]:
dataframe_name.value_counts()

In [ ]:
# Replace

dataframe_name['column_name'].replace('to_replace','replace_into',inplace=True)

In [ ]:
# Type conversion

 dataframe_name['column_name'] = dataframe_name['column_name'].astype(datatype)

In [ ]:
dataframe_name['column_name'] = pd.to_numeric(dataframe_name['column_name'], errors='coerce')

*   **Duplicates Value**
    - Print the duplicated values
    - Get all the duplicate values.
    - Drop duplicate values

In [ ]:
dataframe_name[dataframe_name.duplicated()]

In [ ]:
dataframe_name[column == value & column == value]

In [ ]:
dataframe_name.drop_duplicates()

In [ ]:
dataframe_name.duplicated().sum()

* **Drop columns**

  - We need to get rid of all the uneccesary columns or else it will be very complex data

In [ ]:
dataframe_name.drop(columns=['columns_name'], inplace=True)

*   **Rename the columns**

In [ ]:
dataframe_name.rename(columns={'value':'column1', 'value':'column2'}, inplace=True)

## 4.   Imputation techniques

* **Finding missing value**
  - find percentage of missing value

In [ ]:
len(dataframe_name[dataframe_name['column_name'].isnull()])

In [ ]:
len((dataframe_name[dataframe_name['column_name'].isnull()])/len(df))*100

*   **Rules for missing value imputation:**
    - If the null values are less than 3%, Use dropna()
    - If the null values are between 5 to 40%, use fillna()
    - If the null values are greater than 50%, drop the entire column.

In [ ]:
#Filling missing value

dataframe_name['column_name'].fillna(dataframe_name['column_name'].median(), inplace=True)

## 5. Data analysis and visualization

* **Outlier detection**
  - Boxplot : **outlier**
  - Histplot : **-Ve skewness = median < mean > median = +Ve skewness**
  - Scatterplot : **correlation**
  - heatmap : **strong : > 8 < moderate > 6 <week**

In [ ]:
def remove_outlier(df,col):
  q1 = df[col].quantile(0.25)
  q3 = df[col].quantile(0.75)
  iqr = q3-q1

  upper = q3 + (iqr*1.5)
  lower = q1 - (iqr*1.5)
  
  df = df[(df[col]>lower) & (df[col]<upper)]

  return df

## 6. Transformations


*   Scaling the data
     - Normalization
      * Scales value within the range of 0 to 1.

     - Standardization
       - Uses Z score for scaling.
       - Scale values in such a way that the mean = 0 and standard deviation is 1

In [ ]:
#Normalization

from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
scaled_df  = pd.DataFrame(sc.fit_transform(dataframe_name), columns=dataframe_name.columns)

In [ ]:
#Standardization

from sklearn.preprocessing import MinMaxScaler

In [ ]:
mn = MinMaxScaler()

In [ ]:
minmax = pd.DataFrame(mn.fit_transform(dataframe_name), columns=dataframe_name.columns)